@model IEnumerable<ProdutoViewModel>
@{
    ViewData["Title"] = "Loja Virtual";
}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @{
                foreach (var produto in Model.OrderBy(p => p.Nome))
                {
                    <div class="col mb-5">
                        <div href="#" class="card h-100">
                            <!-- Product image-->
                            <a asp-controller="Home" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" class="img-wrap">
                                <img src="~/images/@produto.Imagem" alt="@produto.Nome" style="width: 260px; height: 200px" />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> @produto.Nome</h5>
                                    <!-- Product price-->
                                    @produto.Preco.ToString("C2")
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a asp-controller="Home" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" class="btn btn-outline-dark mt-auto">
                                        <b> Detalhes</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</section>

